<ion-modal-view>
    <div class="card">
        <div class="item item-divider item-icon-right">
            Select person
            <button
                class="button button-small button-clear icon ion-close-round"
                on-tap="peopleModal.hide()"    
            >
            </button>
        </div>
        <ion-item
            ng-repeat="person in list.people"
            ng-click="setPerson(person)"
        >
            {{ person.name }}
        </ion-item>
    </div>
</ion-modal-view>
